*{
  font-family: monospace;
}

@font-face {
  font-family: 'Barbarian';
  font-style: normal;
  font-weight: normal;
  src: local('Barbarian'), url('Barbarian.ttf') format('truetype');
}

#dungeon {
	position: relative;
	margin: auto;
	height: fit-content; 
	width: fit-content;
	cursor: pointer;
  font-size: 15.5px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}


#entity-layer {
  float:left;
  position: absolute;
}

#input{
  padding: 15px 15px;
  font-size: large;
  text-align: center;
  border-radius: 0px;
}

#title{
  color: black;
  font-weight: normal;
  font-size: 40pt;
  text-align: center;
  font-family: Barbarian;
  height:fit-content;
  width: fit-content;
  margin:auto;
  cursor: pointer;
}
