#dungeon {
	font-family: monospace; 
	!border: 1px solid #ccc; 
	position: relative;
	margin: auto;
	height: fit-content; 
	width: fit-content;
	cursor: pointer;
}

#entity-layer {
    float:left;
    position: absolute;
}

#error {
  height: 1.4em;
  overflow: hidden;
}
