#dungeon {
	font-family: monospace; 
	!border: 1px solid #ccc; 
	position: relative;
	margin: auto;
	height: fit-content; 
	width: fit-content;
}

#entity-layer {
    float:left;
    position: absolute;
}
